/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

.v-main {
  background-color: oklch(0.141 0.005 285.823);
}

*::-webkit-scrollbar {
  width: 4px;
  border: 10px;
}

*::-webkit-scrollbar-track {
  background: #3f3f3f;
}

*::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
